 
<div >
    <div class="row" >
         
        <div class="col-2 pull-left">
            <button type="button" class="btn btn-primary " data-toggle="modal" data-target=".modalCreate">Create New</button>
        </div>
    </div>
    
    
 
   
 
</div>

<div class="container">
    <table id="customers" class="table table-bordered table-hover  table table-striped table-bordered dt-responsive nowrap" style="width:100%">
        <thead>
            <tr>
                <th>Image</th>
                <th>Customer Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Country</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>

    @section scripts
{<script src="~/Scripts/App/Customers.js"></script>}




    <div id="CreateCustomerModal" class="modal fade bd-example-modal-lg modalCreate" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Create Customer</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <form>

                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="CustName">Customer Name</label>
                                            <input type="text" class="form-control" id="CustName" placeholder="Enter Customer Name">
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="UserName">User Name</label>
                                            <input type="text" class="form-control" id="UserName" placeholder="Enter User Name">
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="password">Password</label>
                                            <input type="password" class="form-control" id="password" placeholder="Password">
                                        </div>
                                    </div>
                                </div>

                            
                                <div class="form-group">
                                    <label for="Email">Email address</label>
                                    <input type="email" class="form-control" id="Email" placeholder="Enter email">
                                </div>

                                <div class="form-group">
                                    <label for="CustPhone">Phone Number</label>
                                    <input type="number" class="form-control" id="CustPhone" placeholder="Enter Phone Number">
                                    

                                </div>

                                <div class="form-group">
                                    <label for="CustAddress">Customer Address</label>
                                    <input type="text" class="form-control" id="CustAddress" placeholder="Enter Address">
                                </div>


                                <div class="form-group">
                                    <label for="CustPhoto">Customer Photo</label>
                                    <input type="text" class="form-control" id="CustPhoto" placeholder="Enter Photo Url">
                                </div>

                                <button type="button" id="createCustomer" class="btn btn-primary">Create</button>
                            </form>

                        </div>
                    </div>



                </div>
            </div>
        </div>
    </div>










    <div id="EditCustomerModal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <form>
                                <div class="form-group">
                                    <label for="ECustName">Customer Name</label>
                                    <input type="text" class="form-control" id="ECustName" placeholder="Enter Customer Name">
                                </div>
                                <div class="form-group">
                                    <label for="EEmail">Email address</label>
                                    <input type="email" class="form-control" id="EEmail" placeholder="Enter email">
                                </div>
                                <div class="form-group">
                                    <label for="ECustPhone">Phone Number</label>
                                    <input type="number" class="form-control" id="ECustPhone" placeholder="Enter Phone Number">
                                </div>
                                <div class="form-group">
                                    <label for="ECustAddress">Customer Address</label>
                                    <input type="text" class="form-control" id="ECustAddress" placeholder="Enter Address">
                                </div>
                                <div class="form-group">
                                    <label for="ECustPhoto">Customer Photo</label>
                                    <input type="text" class="form-control" id="ECustPhoto" placeholder="Enter Photo Url">
                                </div>
                                <button type="button" id="EditCustomerBtn" class="btn btn-primary">Update</button>
                            </form>
                   </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
















@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CustomerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Image)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.CustomerID }) |
                @Html.ActionLink("Details", "Details", new { id=item.CustomerID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.CustomerID })
            </td>
        </tr>
    }

    </table>*@





